# Extraer Datos de la API

In [1]:
import  pandas as pd
import wbgapi as wb

**Listas de los indicadores y países**

In [8]:
# Listas de los paises e indicadores
countries_list = [
                "AFG", "ARE", "ARG", "AUS", "AUT", "BFA", "BRA", "CAN", "CHE", "CHN",
                "COL", "CRI", "CUB", "DEU", "DNK", "DZA", "ECU", "EGY", "ESP", "FIN", 
                "FJI", "GBR", "GRC", "IND", "JPN", "KEN", "KHM", "MAR", "MEX", "NER", 
                "NLD", "NOR", "NPL", "NZL", "RUS", "RWA", "SAU", "SGP", "SLE", "TCD", 
                "USA", "VEN", "WSM", "ZAF"                
               ]

indicators_list = [
                 "SP.DYN.LE00.IN", "SP.DYN.LE00.FE.IN", "SP.DYN.LE00.MA.IN", "SP.POP.GROW",
                 "SP.RUR.TOTL.ZG", "SP.URB.GROW", "SP.POP.TOTL", "SP.URB.TOTL", "SP.RUR.TOTL",
                 "SP.POP.TOTL.MA.IN", "SP.POP.TOTL.FE.IN", "SP.POP.0014.TO", "SP.POP.0014.MA.IN",
                 "SP.POP.0014.FE.IN", "SP.POP.1564.TO", "SP.POP.1564.MA.IN", "SP.POP.1564.FE.IN",
                 "SP.POP.65UP.TO", "SP.POP.65UP.MA.IN", "SP.POP.65UP.FE.IN", "NY.GDP.PCAP.KD.ZG",
                 "NY.GDP.PCAP.CD", "NY.GDP.DEFL.KD.ZG", "FP.CPI.TOTL.ZG", "SE.SEC.CUAT.LO.ZS",
                 "SE.SEC.CUAT.UP.ZS", "SE.SEC.CUAT.PO.ZS", "SE.SEC.CMPT.LO.ZS", "SH.XPD.GHED.PC.CD",
                 "SH.XPD.OOPC.PC.CD", "SH.XPD.PVTD.PC.CD"
                  ]

**Crear un dataframe con los países longitu, latitud, regiones**

In [3]:
countries = wb.economy.list()
df_countries = pd.DataFrame(countries)
# Generar Data Frame de los 34 paises a estudiar
df_countries = df_countries[df_countries['id'].isin(countries_list)][['id', 'value', 'region', 'longitude', 'latitude']].reset_index(drop=True)
df_countries

     id                 value region   longitude   latitude
0   AFG           Afghanistan    SAS   69.176100  34.522800
1   ARE  United Arab Emirates    MEA   54.370500  24.476400
2   ARG             Argentina    LCN  -58.417300 -34.611800
3   AUS             Australia    EAS  149.129000 -35.282000
4   AUT               Austria    ECS   16.379800  48.220100
5   BFA          Burkina Faso    SSF   -1.533950  12.360500
6   BRA                Brazil    LCN  -47.929200 -15.780100
7   CAN                Canada    NAC  -75.691900  45.421500
8   CHE           Switzerland    ECS    7.448210  46.948000
9   CHN                 China    EAS  116.286000  40.049500
10  COL              Colombia    LCN  -74.082000   4.609870
11  CRI            Costa Rica    LCN  -84.008900   9.637010
12  CUB                  Cuba    LCN  -82.366700  23.133300
13  DEU               Germany    ECS   13.411500  52.523500
14  DNK               Denmark    ECS   12.568100  55.676300
15  DZA               Algeria    MEA    3.050970  36.739700
16  ECU               Ecuador    LCN  -78.524300  -0.229498
17  EGY      Egypt, Arab Rep.    MEA   31.246100  30.098200
18  ESP                 Spain    ECS   -3.703270  40.416700
19  FIN               Finland    ECS   24.952500  60.160800
20  FJI                  Fiji    EAS  178.399000 -18.114900
21  GBR        United Kingdom    ECS   -0.126236  51.500200
22  GRC                Greece    ECS   23.716600  37.979200
23  IND                 India    SAS   77.225000  28.635300
24  JPN                 Japan    EAS  139.770000  35.670000
25  KEN                 Kenya    SSF   36.812600  -1.279750
26  KHM              Cambodia    EAS  104.874000  11.555600
27  MAR               Morocco    MEA   -6.870400  33.990500
28  MEX                Mexico    LCN  -99.127600  19.427000
29  NER                 Niger    SSF    2.107300  13.514000
30  NLD           Netherlands    ECS    4.890950  52.373800
31  NOR                Norway    ECS   10.738700  59.913800
32  NPL                 Nepal    SAS   85.315700  27.693900
33  NZL           New Zealand    EAS  174.776000 -41.286500
34  RUS    Russian Federation    ECS   37.617600  55.755800
35  RWA                Rwanda    SSF   30.058700  -1.953250
36  SAU          Saudi Arabia    MEA   46.697700  24.674800
37  SGP             Singapore    EAS  103.850000   1.289410
38  SLE          Sierra Leone    SSF  -13.213400   8.482100
39  TCD                  Chad    SSF   15.044500  12.104800
40  USA         United States    NAC  -77.032000  38.889500
41  VEN         Venezuela, RB    LCN  -69.837100   9.081650
42  WSM                 Samoa    EAS -171.752000 -13.831400
43  ZAF          South Africa    SSF   28.187100 -25.746000

**Dataframe con códigos de los países, los indicadores en columnas y la columna time con los años**

In [4]:
# dataframe con los indicadores como columnas y los años como filas
df_wdi = wb.data.DataFrame(indicators_list, countries_list, mrv=36, columns="series").reset_index() # most recent 5 years

In [5]:
df_wdi

,economy,time,FP.CPI.TOTL.ZG,NY.GDP.DEFL.KD.ZG,SE.SEC.CMPT.LO.ZS,SE.SEC.CUAT.LO.ZS,SE.SEC.CUAT.PO.ZS,SE.SEC.CUAT.UP.ZS,SH.XPD.PVTD.PC.CD,SP.DYN.LE00.FE.IN,...,SP.POP.1564.TO,SP.POP.65UP.FE.IN,SP.POP.65UP.MA.IN,SP.POP.65UP.TO,SP.POP.GROW,SP.POP.TOTL,SP.POP.TOTL.FE.IN,SP.RUR.TOTL.ZG,SP.URB.GROW,SP.URB.TOTL
0,AFG,YR1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.453,...,5226926.0,122823.0,111022.0,233845.0,-1.210190,10322758.0,5152650.0,-2.043746,2.128391,2096965.0
1,AFG,YR1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.569,...,5246397.0,123220.0,110633.0,233853.0,0.586318,10383460.0,5188060.0,-0.275758,3.898014,2180319.0
2,AFG,YR1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.610,...,5380687.0,126772.0,113325.0,240097.0,2.751877,10673168.0,5334609.0,2.637888,3.179585,2250758.0
3,AFG,YR1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.397,...,5377229.0,127085.0,113182.0,240267.0,0.202434,10694796.0,5346409.0,0.089590,0.623574,2264837.0
4,AFG,YR1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.144,...,5384510.0,127860.0,113494.0,241354.0,0.469880,10745167.0,5372208.0,0.356909,0.889255,2285067.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,ZAF,YR2018,4.517165,3.745754,88.168823,NaN,NaN,NaN,236.952989,68.740,...,37537017.0,2204819.0,1151914.0,3356734.0,1.225530,57339635.0,29517286.0,-0.264285,1.989500,38047715.0
1580,ZAF,YR2019,4.120246,4.638081,87.523720,81.804680,44.852650,69.697388,222.565061,69.107,...,37933572.0,2272432.0,1183770.0,3456202.0,1.295074,58087055.0,29879107.0,-0.205198,2.047266,38834681.0
1581,ZAF,YR2020,3.210036,5.692615,90.218941,79.255142,NaN,49.127312,178.993024,67.964,...,38374016.0,2325160.0,1203270.0,3528430.0,1.223179,58801927.0,30221143.0,-0.290761,1.965305,39605450.0
1582,ZAF,YR2021,4.611672,6.219017,97.231331,83.926857,49.065762,73.290512,NaN,64.999,...,38815753.0,2346756.0,1200226.0,3546983.0,0.998920,59392255.0,30497646.0,-0.522736,1.728207,40295863.0
1583,ZAF,YR2022,7.039727,5.054293,NaN,NaN,NaN,NaN,NaN,NaN,...,39264163.0,2345891.0,1183650.0,3529541.0,0.841058,59893885.0,30725879.0,-0.688320,1.557749,40928486.0

In [9]:
# obtener todos los códigos y los nombres de los indicadores seleccionados
cod_ind = []
name_ind = []
for indicator in indicators_list:
    ind = wb.series.get(indicator)
    cod_ind.append(ind["id"])
    name_ind.append(ind["value"])

In [10]:
dict_indicators = {
    "cod_indicator": cod_ind,
    "name_indicator": name_ind
}

In [12]:
df_indicators = pd.DataFrame(dict_indicators)
df_indicators

        cod_indicator                                     name_indicator
0      SP.DYN.LE00.IN            Life expectancy at birth, total (years)
1   SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
2   SP.DYN.LE00.MA.IN             Life expectancy at birth, male (years)
3         SP.POP.GROW                       Population growth (annual %)
4      SP.RUR.TOTL.ZG                 Rural population growth (annual %)
5         SP.URB.GROW                 Urban population growth (annual %)
6         SP.POP.TOTL                                  Population, total
7         SP.URB.TOTL                                   Urban population
8         SP.RUR.TOTL                                   Rural population
9   SP.POP.TOTL.MA.IN                                   Population, male
10  SP.POP.TOTL.FE.IN                                 Population, female
11     SP.POP.0014.TO                        Population ages 0-14, total
12  SP.POP.0014.MA.IN                         Population ages 0-14, male
13  SP.POP.0014.FE.IN                       Population ages 0-14, female
14     SP.POP.1564.TO                       Population ages 15-64, total
15  SP.POP.1564.MA.IN                        Population ages 15-64, male
16  SP.POP.1564.FE.IN                      Population ages 15-64, female
17     SP.POP.65UP.TO                Population ages 65 and above, total
18  SP.POP.65UP.MA.IN                 Population ages 65 and above, male
19  SP.POP.65UP.FE.IN               Population ages 65 and above, female
20  NY.GDP.PCAP.KD.ZG                   GDP per capita growth (annual %)
21     NY.GDP.PCAP.CD                       GDP per capita (current US$)
22  NY.GDP.DEFL.KD.ZG                 Inflation, GDP deflator (annual %)
23     FP.CPI.TOTL.ZG              Inflation, consumer prices (annual %)
24  SE.SEC.CUAT.LO.ZS  Educational attainment, at least completed low...
25  SE.SEC.CUAT.UP.ZS  Educational attainment, at least completed upp...
26  SE.SEC.CUAT.PO.ZS  Educational attainment, at least completed pos...
27  SE.SEC.CMPT.LO.ZS  Lower secondary completion rate, total (% of r...
28  SH.XPD.GHED.PC.CD  Domestic general government health expenditure...
29  SH.XPD.OOPC.PC.CD  Out-of-pocket expenditure per capita (current ...
30  SH.XPD.PVTD.PC.CD  Domestic private health expenditure per capita...

In [13]:
df_indicators.to_csv("../EDA/indicadores.csv", index=False)

In [7]:
df_wdi['time'] = df_wdi['time'].str.replace('YR', '')

In [19]:
nombres_series = ['Inflation, consumer prices (annual %)',
                   'Inflation, GDP deflator (annual %)',
                  'Lower secondary completion rate, total (% of relevant age group)', 
                  'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
                  'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)',
                  'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)',
                  'Domestic private health expenditure per capita (current US$)',
                  'Life expectancy at birth, female (years)',
                  'Life expectancy at birth, total (years)', 
                  'Life expectancy at birth, male (years)', 
                  'Population ages 0-14, total',
                  'Population ages 15-64, female', 
                  'Population ages 15-64, male', 
                  'Population ages 15-64, total',
                  'Population ages 65 and above, female', 
                  'Population ages 65 and above, male', 
                  'Population ages 65 and above, total',
                  'Population growth (annual %)', 
                  'Population, total', 
                  'Population, female', 
                  'Rural population growth (annual %)',
                  'Urban population growth (annual %)', 
                  'Urban population']

In [23]:
len(nombres_series)

23

In [24]:
diccionario = dict(zip(df_wdi.columns[2:], nombres_series))
diccionario

{'FP.CPI.TOTL.ZG': 'Inflation, consumer prices (annual %)',
 'NY.GDP.DEFL.KD.ZG': 'Inflation, GDP deflator (annual %)',
 'SE.SEC.CMPT.LO.ZS': 'Lower secondary completion rate, total (% of relevant age group)',
 'SE.SEC.CUAT.LO.ZS': 'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
 'SE.SEC.CUAT.PO.ZS': 'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)',
 'SE.SEC.CUAT.UP.ZS': 'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)',
 'SH.XPD.PVTD.PC.CD': 'Domestic private health expenditure per capita (current US$)',
 'SP.DYN.LE00.FE.IN': 'Life expectancy at birth, female (years)',
 'SP.DYN.LE00.IN': 'Life expectancy at birth, total (years)',
 'SP.DYN.LE00.MA.IN': 'Life expectancy at birth, male (years)',
 'SP.POP.0014.TO': 'Population ages 0-14, total',
 'SP.POP.1564.FE.IN': 'Population ages 15-64, female',
 'SP.POP.1564.MA.IN': 'Population ages 15-64, male',
 'SP.POP.1564.TO': 'Population ages 15-64, total',
 'SP.POP.65UP.FE.IN': 'Population ages 65 and above, female',
 'SP.POP.65UP.MA.IN': 'Population ages 65 and above, male',
 'SP.POP.65UP.TO': 'Population ages 65 and above, total',
 'SP.POP.GROW': 'Population growth (annual %)',
 'SP.POP.TOTL': 'Population, total',
 'SP.POP.TOTL.FE.IN': 'Population, female',
 'SP.RUR.TOTL.ZG': 'Rural population growth (annual %)',
 'SP.URB.GROW': 'Urban population growth (annual %)',
 'SP.URB.TOTL': 'Urban population'}